@charset "utf-";




@media screen and (min-width:768px) and (max-width:992px) {  /* tablet...*/
    #login{
        width: 80vw;
    }
    
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-position: center;
    }
    #formulario{
        float: right;
        width: 70%;
    }

    #formulario>h1{
        font-size: 2.0em;
    }
    #formulario>p{
        font-size: 1.2em;
    }

    .area{
        width: 40vw;
    }
 
   
}


@media screen and (min-width:992px){
    body{
        background-image:linear-gradient(to top, rgba(0, 0, 0, 0.678), #2e2979) ;
    }
    #login{
        width: 950px;
    }
    
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-position: center;
    }
    #formulario{
        float: left;
        width: 50%;
       
      
    }

    #formulario>h1{
        font-size: 2.0em;
    }
    #formulario>p{
        font-size: 1.2em;
    }
    
    .area{
        width: 30vw;
    }

}